<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4">
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Title </mat-label>
                <input matInput name="title" type="text" [(ngModel)]="editSurvey.title">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Description </mat-label>
                <input matInput name="description" type="text" [(ngModel)]="editSurvey.description">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Choose question</mat-label>
                <mat-select [(ngModel)]="qID" [(value)]="selected" name="Question">
                    @for (item of questionObject; track item)
                    {
                    <mat-option [value]="item.id">{{item.questionText}}</mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>
        <div class="flex justify-around">
            <button mat-raised-button  (click)="toHome()">Cancel</button>
            <button mat-raised-button color="primary" (click)="edit()">Edit</button>
        </div>
    </form>
</div>


