<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4">
        
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Title</mat-label>
                <input matInput type="text" name="title" [(ngModel)]="itemsToCreate.title">
            </mat-form-field>
        </div>
        
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Description</mat-label>
                <input matInput type="text" name="description" [(ngModel)]="itemsToCreate.description">
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Choose Category</mat-label>
                <mat-select matInput[(ngModel)]="selectedQuestionID" name="Question">
                    @for (item of questions; track item)
                    {
                        <mat-option [value]="item.id"> {{item.questionText}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
         
        <div class="flex justify-center">
            <button mat-raised-button color="primary" (click)="onCreateBtn()">Create</button>
        </div>

    </form>
</div>
